```css
body {
    font-family: "Open Sans", sans-serif;
    color: pink;
    margin: 0;
}

#title {
    color: black;
    text-shadow: #ccc 2px 2px;
}

.upload-area {
    position: absolute;
    width: 70%;
    height: 50%;
    left: 15%;
    top: 20%;
    border: 6px solid #333;
    border-radius: 20px;
    border-style: dashed;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.upload-area:hover {
    cursor: pointer;
}

#file {
    display: none;
}

/* Thumbnail */

.thumbnail {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
}

.size {
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 5vh;
    color: black;
}

h2 {
    color: white;
    font-size: 40px;
    line-height: 60px;
    -webkit-text-stroke: 1px black;
}

h1, h2 {
    text-align: center;
}

body {
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
    text-align: center;
    font-size: 12vh;
    line-height: 18vh;
    color: white;
    -webkit-text-stroke: 1px black;
}

.banner h3 {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.banner-circle {
    position: relative;
    top: 10vh;
    margin: auto;
    width: 20vh;
    height: 20vh;
    line-height: 25vh;
    border-radius: 50%;
    font-size: 15vh;
    text-align: center;
}

#thinking {
    display: none;
}

#nyckel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px 10px;
    background-color: white;
    opacity: 0.8;
    text-decoration: none;
    color: rgb(87, 87, 255);
    border-radius: 5px;
    border: solid 1px rgb(142, 142, 252);
}

#nyckel:hover {
    text-decoration: underline;
    /* color: white;
    background-color: rgb(163, 203, 255); */
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 7vh;
        margin-top: 10vh;
    }
    h2 {
        font-size: 4vh;
    }
    .banner h3 {
        font-size: 8vh;
        line-height: 18vh;
    }
}
```
